<<<<<<< HEAD
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}


canvas{
    background-color: black;
=======
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}


canvas{
    background-color: black;
>>>>>>> 31c2fefb3a840d730f2d8f5eb3cb484aeadcfbd1
}